
     
         
     
          <div class="row">
     
       
     
            <div class="large-4 small-12 columns">
     
              <img src="http://placehold.it/500x500&text=Logo">
     
              <div class="hide-for-small panel">
                <h3>Welcome <%= current_user.username %>!</h3>
                <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                  <section class="section">
                    <h5 class="title"><a href="#">Create challenge</a></h5>
                  </section>
                  <section class="section">
                    <h5 class="title"><a href="#">Challenge someone</a></h5>
                  </section>
                  <section class="section">
                    <h5 class="title"><a href="#">View challenges</a></h5>
                  </section>
                  <section class="section">
                    <h5 class="title"><a href="#">Edit profile</a></h5>
                  </section>
                </div>
              </div>
     
              <a href="#">
              <div class="panel callout radius">
                <h6>You have 10 code challenges</h6>
              </div>
              </a>
     
            </div>
     
         
     
     
         
     
            <div class="large-8 columns">
              <div class="row">
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/1000x1000&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
     
                  <div class="panel">
                    <h5>Item Name</h5>
                    <h6 class="subheader">$000.00</h6>
                  </div>
                </div>
              </div>
     
        
            </div>
          </div>
     
     
         
     
