<!-- About page -->

      <br>
      <div class="row">
        <div class="large-12 columns">
          <div class="cool">
            <img src="http://shaunseo.com/wp-content/uploads/2014/06/coding.png">
          </div>
     
          <hr>
        </div>
      </div>
       
     
      <div class="row">
        <div class="large-4 columns">
          <div class="cool">
            <img src="http://yacinebaroudi.com/wp-content/uploads/2013/03/search_engine_friendly.jpg">
          </div>
        </div>
        <div class="large-8 columns">
          <h4>A place for coders to test their skills.</h4>
          <div class="row">
            <div class="large-6 columns">
              <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>
            <div class="large-6 columns">
              <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
            </div>
          </div>
        </div>
      </div>
     
     
       
     
      <div class="row">
        <div class="large-8 columns">
          <h4>Collaborate and compete</h4>
     
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
     
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
     
        </div>
        <div class="large-4 columns">
          <div class="cool">
            <img src="https://cdn2.content.compendiumblog.com/uploads/user/c3a5f9df-76c1-468f-a563-680855d17515/d399a39d-d172-48db-942c-cb5a8a6d3be1/Image/90de83b7fc362fbb815a96e6103c7845/hacker_face_partially_hidden_technology.jpg">
          </div>
        </div>
      </div>
    

      