<div class="row">
  <div class="large-12 columns">
    <h1>Help Page</h1>
    <table>
      <thead>
        <tr>
          <th width="200">Topic</th>
          <th>Description</th>
          <th width="150">Resource</th>
          <th width="150">Additional</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>How to sign up</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>How to create a challenge</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
        <tr>
          <td>How to battle</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>