/*Styles for new code challenge form*/
.cclabel {
	font-family: monospace;
	font-size: large;
}

.cctextarea {
	height: 200px;
	font-family: monospace;
}

.ccbody {
	background-color: lightgrey !important;
	font-family: monospace;
	margin-bottom: 0 !important;
}

.ccinfo {
	font-family: monospace;
}

.black {
	color: black;
}