/*Styles for new code challenge form*/
.cclabel {
	font-family: monospace;
	font-size: large;
}

.cctextarea {
	height: 200px;
	font-family: monospace;
}

.ccbody {
	background-color: lightgrey !important;
	font-family: monospace;
	margin-bottom: 0 !important;
  height: 220px;
  overflow-y: scroll;
}

.ccarea {
	background-color: lightgrey !important;
	font-family: monospace;
	font-size: 1.2em;
	margin-bottom: 0 !important;
  height: 220px;
  overflow-y: scroll;
}

.ccsolve {
	background-color: lightgrey !important;
	font-family: monospace;
	font-size: 1.2em;
	margin-bottom: 0 !important;
  height: 400px;
  overflow-y: scroll;
}

.limited {
	font-family: monospace;
	border-style: none;
	font-size: 1.2em;
	height: 220px;
  overflow-y: scroll;
}

.ccinfo {
	font-family: monospace;
  white-space: nowrap; 
  width: 13em; 
  overflow: hidden;
  text-overflow: ellipsis; 	
}

.black {
	color: black;
}

#ccresult {
	background-color: lightgreen;
}
