// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
  i{
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form{
    input, span{
    height: 50px;
  }
  
  }
  .welcome{
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p{
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
  }
  .button{
    margin-left: 35%;
  }  
}

.full {
  height: 100vh;
  background-color: rgb(51, 51, 51);
  color: white;
  margin: 0;
  font-size: 100px;
  text-align: center;
  font-family: monospace;
  line-height: 600px;
}

.purple {
  color: rgb(123, 80, 249);
}

.green {
  color: rgb(88, 210, 88);
}

#typed-cursor {
    font-size: 100px;
    color: white;
}

.cool {
  box-shadow: 2px 2px 2px #888888;
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
    color: white;
 }

}

@-moz-keyframes blink {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-webkit-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-ms-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }

}

@-o-keyframes "blink" {
  from,to {
  color: transparent;
}
 50% {
   color: white;
 }
}