<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="build"><a href="#contact">Contact</a></dd>
    <dd data-magellan-arrival="js"><a href="#about">About</a></dd>
    <dd data-magellan-arrival="js"><a href="#help">Help</a></dd>
  </dl>
</div>